
$--ym-color-primary: #0045ff;
$--ym-background-color: #161c24;
$--ym-text-color-primary: #ffffff;
$--ym-text-color-regular: #919EAB;
$--ym-text-color-secondary: #637381;
$--ym-text-color-placeholder: #212B36;

@import 'global.scss';
